#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;



}

#page-create-point header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 48px;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold; /*largura da fonte*/

    text-align: center;
    display: flex;

}

#page-create-point header a span {
    margin-right: 16px;
    background: url(../icones/arrow-left.svg);

    display: flex;

    width: 20px;
    height: 24px;
}

form {
    background-color: white;

    margin: 80px auto;

    padding: 64px; /*preenchimento então eu fixei o preenchimento em 64 px ele estica a caixa */

    border-radius: 8px;

    max-width: 730px;


}