:root { /*Muda a estrutura base do documento, permite criar 'tags' */
    --title-color: #322153; /*tag que pode ser usada ao longo do documento */
    --primary-color: #34cb79;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*serve para não esticar a caixa form ou seja, limita a caixa pela borda*/
}

html {
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /* Deixa as transições mais suaves*/
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);

}
/* BOX MODEL 

Modelo de caixa
Toda caixa tem: largura, altura, espaçamentos, preenchimentos
bordas, cor, fundo, maneira como é vista pelo html (display),
posicionamento, ,alinhamentos.

*/

